.card__image {
  height: 282px;
  object-fit: cover;
  width: 100%;
  color: #fff; /* изменен цвет альтернативного текста, чтобы был виден на темном фоне */
}

.card__image:hover {
  cursor: pointer;
}
